USE [master]
GO
/****** Object:  Database [SegaBank]    Script Date: 08/10/2019 16:54:25 ******/
CREATE DATABASE [SegaBank]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'SegaBank', FILENAME = N'D:\EPSI\SQL\MSSQL14.SSMSDEV\MSSQL\DATA\SegaBank.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'SegaBank_log', FILENAME = N'D:\EPSI\SQL\MSSQL14.SSMSDEV\MSSQL\DATA\SegaBank_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [SegaBank].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [SegaBank]
GO
/****** Object:  Table [dbo].[Agence]    Script Date: 08/10/2019 16:54:26 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Agence](
	[identifiant] [int] NOT NULL,
	[code] [nvarchar](50) NOT NULL,
	[numero_adresse] [int] NULL,
	[adresse] [nvarchar](max) NULL,
	[code_postal] [nvarchar](6) NULL,
	[ville] [nvarchar](50) NULL,
 CONSTRAINT [PK_Agence] PRIMARY KEY CLUSTERED 
(
	[identifiant] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Compte]    Script Date: 08/10/2019 16:54:26 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Compte](
	[identifiant] [int] NOT NULL,
	[solde] [float] NOT NULL,
	[taux_interet] [float] NULL,
	[type_compte] [nvarchar](50) NOT NULL,
	[id_agence] [int] NOT NULL,
	[decouvert_max] [int] NULL,
 CONSTRAINT [PK_Compte] PRIMARY KEY CLUSTERED 
(
	[identifiant] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Compte]  WITH CHECK ADD  CONSTRAINT [FK_Compte_Agence] FOREIGN KEY([id_agence])
REFERENCES [dbo].[Agence] ([identifiant])
GO
ALTER TABLE [dbo].[Compte] CHECK CONSTRAINT [FK_Compte_Agence]
GO
USE [master]
GO
